@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@400;700&display=swap');

:root {
    --button-bg-color: #f1c40f;
    --bg-color: #eee;
    --bg-color2: #ddd;
    --icon-color: orange;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.2rem;
}

.bold {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    background-color: var(--bg-color);
    display: grid;
    row-gap: 3em;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1.5em;
    position: fixed;
    top: 0;
    background-color: var(--bg-color);
    width: 100%;
}

#header-img {
    width: 300px;
    height: 40px;
}

.nav-link {
    margin-right: 3em;
}

.nav-link:last-of-type {
    margin-right: 1.5em;
}

main {
    display: grid;
    row-gap: 3em;
    margin-top: 5em;
}

.heading {
    margin: 0 auto;
    text-align: center;
}

.heading *:not(#submit) {
    margin-bottom: 0.5rem;
}

input[type="email"] {
    padding: 5px 8px;
    height: 2em;
    width: 65%;
    font-size: 0.85rem;
}

input[type="submit"] {
    padding: 5px 20px;
    background-color: var(--button-bg-color);
    border: none;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: var(--icon-color);
}

#Features {
    display: grid;
    row-gap: 2em;
}

.feature {
    display: grid;
    grid-template-columns: minmax(1em, 10%) minmax(min-content, 7em) minmax(min-content, 1fr) minmax(1em, 10%);
    column-gap: 2em;
}

.fa-solid {
    font-size: 3rem;
    color: var(--icon-color);
    grid-column: 2 / 3;
    text-align: center;
    display: flex;
    align-self: center;
}

#How_It_Works {
    display: flex;
    justify-content: center;
}

#video {
    width: 50%;
    height: 250px;
}

#Pricing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    margin: 0 auto;
}

.price-tag {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-tag .title {
    background-color: var(--bg-color2);
    padding: 0.5em 2em;
}

.price-tag .price {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1em 0;
}

.price-tag .description {
    line-height: 1.5;
}

.price-tag input {
    align-self: center;
    margin: 1.5em 0 1em;
}

footer {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    background-color: var(--bg-color2);
    text-align: right;
    padding-top: 1.5em;
    padding: 1em;
}

.footer-links * {
    margin-right: 1em;
}

footer p {
    margin-top: 0.25em;
    color: #0008;
    font-size: 0.9rem;
}

@media only screen and (max-width: 720px) {
    body {
        font-size: 0.8em;
    }

    h2 {
        font-size: 1.25rem;
    }
    
    h3 {
        font-size: 1rem;
    }
    
    #header-img {
        width: 275px;
    }

    .nav-link {
        margin-right: 2em;
    }

    input[type="submit"] {
        font-size: 0.8rem;
    }

    .feature {
        grid-template-columns: 1em minmax(min-content, 4em) minmax(min-content, 1fr) 1em;
        margin-right: 5px;
    }

    .fa-solid {
        font-size: 2.2rem;
    }

    .text {
        grid-column: 3 / -1;
    }

    #Pricing {
        margin: 0 10px;
        column-gap: 1.2em;
    }
}

@media only screen and (max-width: 600px) {
    #header {
        padding: 0.5em 0;
    }

    .nav-link {
        margin-right: 0.8em;
    }

    #video {
        width: 60%;
        height: 200px;
    }
}

@media only screen and (max-width: 550px) {
    body {
        font-size: 0.75em;
    }

    h2 {
        font-size: 1rem;
    }
    
    h3 {
        font-size: 0.8rem;
    }

    #header-img {
        width: 250px;
        height: 30px;
    }

    input[type="email"] {
        padding: 2px 5px;
        font-size: 0.75rem;
    }
    
    input[type="submit"] {
        padding: 5px 10px;
        font-size: 0.8rem;
    }

    .footer-links * {
        margin-right: 0.75em;
    }
    
    footer p {
        font-size: 0.65rem;
    }
}

@media only screen and (max-width: 420px) {
    body {
        font-size: 0.5em;
    }

    h2 {
        font-size: 0.8rem;
    }
    
    h3 {
        font-size: 0.6rem;
    }
    
    #header-img {
        width: 150px;
        height: 20px;
    }

    input[type="email"] {
        padding: 2px 2.5px;
        font-size: 0.5rem;
    }
    
    input[type="submit"] {
        padding: 3px 8px;
        font-size: 0.5rem;
    }

    .fa-solid {
        font-size: 1rem;
    }

    #video {
        width: 60%;
        height: 125px;
    }

    .price-tag .price {
        margin: 0.5em 0;
    }

    footer p {
        font-size: 0.5rem;
    }
}